[0-9]*.[0-9]*
[0-9]*
constant/polyMesh
*.OpenFOAM
log.*
*.pyc
!0.org
system/sampleDict
*.pvsm
dynamicCode
figures
processor*
system/sets
system/turbineOperatingParams
system/blockMeshDict
system/controlDict
